{% assign shop_name = shop.name %}
{% assign order_number = order.number %}
{% assign order_name = order.name %}
{% assign name = order.name %}
{% assign date = order.created_at %}
{% assign created_at = order.created_at %}
{% assign processed_at = order.processed_at %}
{% assign billing_address = order.billing_address %}
{% assign shipping_address = order.shipping_address %}
{% assign shipping_lines = order.shipping_lines %}
{% assign shipping_methods = order.shipping_methods %}
{% assign shipping_method = order.shipping_lines[0].title %}
{% assign shipping_line = order.shipping_lines[0].title %}
{% assign customer = order.customer %}
{% assign email = order.email %}
{% assign financial_status = order.financial_status %}
{% assign fulfillment_status = order.fulfillment_status %}
{% assign fulfillment_service = order.line_items[0].fulfillment_service %}
{% assign discounts_amount = order.total_discounts %}
{% assign discounts_savings = order.total_discounts | times: -100 %}
{% assign gateways = order.gateways %}
{% assign gateway = order.gateway %}
{% assign currency = order.currency %}
{% assign order_currency = order.currency %}
{% assign subtotal_price = order.subtotal_price %}
{% assign total_discounts = order.total_discounts %}
{% assign total_tax = order.total_tax %}
{% assign tax_price = order.total_tax %}
{% assign total_price = order.total_price %}
{% assign total_paid = order.total_price %}
{% assign attributes = order.note_attributes %}
{% assign note = order.notes %}
{% assign line_items = order.line_items %}
{% assign refunds = order.refunds %}
{% assign tax_lines = order.shipping_lines[0].tax_lines %}
{% assign discounts = order.discount_codes %}
{% assign fulfillments = order.fulfillments %}
{% assign shipping_price = 0 %}
{% for shipping_line in order.shipping_lines %}
{{shipping_price | plus:shipping_line.price }}
{% endfor %}

<script>
    function printReceipt() {
        var companyName = document.getElementById("easy_receipt_company_name").value.trim();
        if(companyName.length >= 2 && companyName.length <= 255){
            var templateReceipt = document.getElementById("easy_receipt_template").innerHTML;
            templateReceipt = templateReceipt.replace("easy_receipt_company_name", companyName);
            var iframe = document.createElement('iframe');
            document.body.appendChild(iframe);
            var frameDoc = iframe.contentWindow ? iframe.contentWindow : iframe.contentDocument.document ? iframe.contentDocument.document : iframe.contentDocument;
            frameDoc.document.open();
            frameDoc.document.write('<html><head>');
            frameDoc.document.write('</head><body onload="this.focus(); this.print();">');
            frameDoc.document.write(templateReceipt);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                document.body.removeChild(iframe);
            }, 500);
        }
    }
</script>