{% include 'easy-receipt-variables' %}
<div id="easy-receipt-template" style="display:none;">
    {% include 'easy-receipt-template' %}
</div>

<div class="input-group ">
    <input type="text" id="easy_receipt_company_name" class="input-group__field" value="" placeholder="{{ 'easy_receipt.company_name' | t }}">
    <span class="input-group__btn">
    <button type="submit" class="btn" onClick='printReceipt()'>
        <span>{{ 'easy_receipt.print_receipt' | t }}</span>
    </button>
</div>